body {
  font-size: 14px;
  font-family: arial,sans-serif;
  color: #bdc1c6;
  background-color: #202124;
  display: flex;
  justify-content: center;
  height: 100%;
  min-width: 400px;
}
#search {
  width: 100%;
  height: 40px;
  border-radius: 40px 40px 40px 40px;
  min-width: 400px;
  color: #FFFF;
}
#button {
  align-content: flex-end;
  height: 30px;
  width: 120px;
  border-radius: 5px 5px 5px 5px;
}
