body {
  background-color: #202124;
  min-width: 400px;
}
.container {
  display: flex;
  justify-content: center;
}
#logo {
  font-size: 92px;
  font-family: SansSerif, serif;
  min-height: 92px;
  color: #919191;
  margin-top: 100px;
  padding-bottom: 30px;
  text-shadow: 9px 9px 9px #141414;
}
#searchbar {
  min-width: 400px;
  max-width: 600px;
  width: 100%;
  height: 40px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #202124;
  border: solid #424242 1px;
  border-radius: 40px 40px 40px 40px;
  text-indent: 30px;
  font-size: 16px;
  font-family: Arial, Helvetica, Geneva, serif;
  color: #919191;
}
#searchbar:hover {
  background:#3c4043
  border-box; box-shadow: 3px 3px 9px #1d2023;
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}
.button {
  height: 35px;
  width: fit-content;
  font-size: 14px;
  padding-right:18px;
  padding-left:18px;
  border: none;
  background-color: #2b2f32;
  color: #919191;
  font-family: arial, sans-serif;
  border-radius: 5px 5px 5px 5px;
}
.button:hover {
  background:#3c4043
}
#main-container {
  align-self: center;
}
