body {
  background-color: #202124;
  min-width: 400px;
}
.container {
  display: flex;
  justify-content: center;
}
#logo {
  font-size: 92px;
  font-family: SansSerif, serif;
  min-height: 92px;
  color: white;
}
#searchbar {
  min-width: 400px;
  max-width: 600px;
  width: 100%;
  height: 40px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #202124;
  border: solid #2b2f32 thin;
  border-radius: 40px 40px 40px 40px;
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}
.button {
  height: 35px;
  width: fit-content;
  font-size: 14px;
  padding-right:15px;
  padding-left:15px;
  border: none;
  background-color: #2b2f32;
  color: #FFFF;
  font-family: arial, sans-serif;
  border-radius: 5px 5px 5px 5px;
}
